.nav-1 {
  background-color: #0057a8;
  color: white;
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: space-between;
}
.inner-nav-1 {
  display: flex;
  padding: 5px;
}
.mail-id {
  padding-top: 2px;
  padding-left: 2px;
}
.phone-no {
  padding-top: 3px;
  padding-left: 2px;
}
.inner-nav-2 {
  display: flex;
  padding: 1px;
  padding-left: 35px;
}
.icon-phone {
  padding: 5px;
  padding-left: 45px;
  margin-top: 2px;
  color: aliceblue;
}
.icon-mail {
  padding: 4px;
}
.icon-gplus,
.icon-pinterest,
.icon-twitter,
.icon-facebook {
  border: 1px solid white;
  border-radius: 50%;
  padding: 1px;
  margin: 5px;
}
.icon-socialdribbble {
  padding: 1px;
  margin: 1px;
}
